* {
    box-sizing:border-box;
    background-color: #eaf3fa;
    overflow: hidden;
    /* height: 95vh; */
}

.form-group {
    margin-bottom:15px;
}

#section1-container {
  position:block;
  /* background-color: #fcecdc; */
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
  
/* Control the left side */
.left {
  position: block;
  margin-left: 75px;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  width: 30vw;
  height: 95vh;
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
  
/* Control the right side */
.right {
  position: block;
  right: 0;
  top: 0;
  height: 95vh;
  width: 60vw;

  /* TODO: TO GET RID OF THE ISSUE OF THE WEIRD MOVING, MAYBE SET THIS AS HTML IMG RATHER THAN BACKGROUND??*/

  /*right: 0;*/
  /* background-image: url('journalling_image_375_600.png');
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover;
  background-position: center; */
  /* z-index: -1; */

  margin-left: 0px;
}

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} 

/* Style the image inside the centered container, if needed */
/* img {
  width: 150px;
  border-radius: 50%;
} */

.header {
  font-family: 'Roboto Slab', serif;
  /*font-family: 'Niconne', cursive;*/
  /*font-family: 'Pacifico', cursive;"Papyrus", "Trattatello", "Brush Script MT";*/
  padding-top: 10px;
  text-align: center;
  color: black;
  font-size: 50px;
  font-weight: bold;
  z-index: 1;
  margin-bottom: 5vh;
}

.slogan {
    color: #e68639;
    font-family: "Copperplate";
    font-weight: bold;
    margin-right: 0px;
    height: 95vh;
}

#arrival-date {
  color: #86d1cd;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.email-submit-label {
  color: #2a4f96 !important;
  font-family: "Copperplate";
  font-weight: bold;
  font-size: 15px;
}

.btn-outline-primary {
    background-color: #eaf3fa !important;
    color: #86d1cd !important;
    border-color: #86d1cd !important;
    margin: 8px;
    font-size: 15px;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: #c9d4dd !important;
    color: #72ccc8 !important;
    font-weight: bold;
}

.home-image {
  width: 67vw;
  /* margin-left: -10vw; */
  /* margin-right: auto; */
}

#about {
  position: relative;
  clear: both;
  background-color: #fcecdc;
}