<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Bootstrap-->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="all">
    <!--Own Style-->
    <link rel="stylesheet" href="static/css/style.css">

    <meta name="description" content="Journally is an app that reminds you to document your day.">
    <meta charset="utf-8">
    <title>Journally</title>

    <link rel="icon" type="image/x-icon" href="static/css/journally_logo.ico">

  </head>
  <body>

    <div class="row no-gutters">

        <div class="col-lg-6 no-gutters">

            <div class="leftside d-flex justify-content-center align-items-center">

                <form action="thank-you" method="post" name="registration-form">
                    <div class="header">
                      <h1 id="header"> JOURNALLY</h1>
                      <h3>A journal entry a day.</h3>
                      <h3>All through text.</h3>
                      <p id="arrival-date">Coming Spring 2023</p>
                    </div>
                    <div class="input">
                      <label class="email-submit-label">Stay informed</label>
                      <input name="exampleInputName" class="form-control" id="exampleInputName" placeholder="Enter your name">
                      <input type="email" name="exampleInputEmail" class="form-control" id="exampleInputEmail" placeholder="Enter your email">
                      <input type="submit" class="btn btn-outline-primary btn-lg" id="email-submit-button" value="Submit">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6 no-gutters">
            <div class="rightside d-flex justify-content-center align-items-center">
              <img class="home-image" src="/static/css/journalling_image_375_600-removebg.png">
            </div>
        </div>

    </div>

  </body>
</html>