<!DOCTYPE html>
<html lang="en">
    <head>
      <!--Icon for Chrome tab-->
      <!-- <link rel="shortcut icon" type="image/x-icon" href="images/logo/QW_logo_transparent_32px.png"/> -->
      <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Journally is an app that reminds you to document your day.">
        <meta charset="utf-8">
        <title>Journally</title>

        <!--Make consistent across browsers-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!--Bootstrap-->
        <link href="static/css/bootstrap.min.css" rel="stylesheet" media="all">
        <!--Own style-->
        <link rel="stylesheet" href="static/css/styles.css">

        <link rel="icon" type="image/x-icon" href="static/css/journally_logo.ico">
    </head>


    <body>
        <!--Own style-->
        <link rel="stylesheet" href="static/css/styles.css">

        <!-- <div class="header">
            <h1>JOURNALLY</h1>
        </div> -->
        <div id="section1-container">
            <div class="left">
                <!-- <div class="centered"> -->
                    <div class="slogan">
                        <h1 class="header"> JOURNALLY</h1>
                        <h3>A journal entry a day.</h3>
                        <h3>All through text.</h3>
                        <h4 id="timeline">Coming Summer 2022.</h4>
                    
                        <form>
                            <div class="email-submission">     
                                <form action="thank-you" method="POST">
                                    <!-- <input name="text">
                                    <input type="submit"> -->
                                </form>
        
                                <form class="user-signup" action="thank-you" method="POST">
                                    <label class="email-submit-label">Stay informed</label>
                                    <input name="exampleInputName" class="form-control" id="exampleInputName" placeholder="Enter your name">
                                    <input type="email" name="exampleInputEmail" class="form-control" id="exampleInputEmail" placeholder="Enter your email">
                                    <input type="submit" class="btn btn-outline-primary btn-lg" id="email-submit-button" value="Submit">
                                </form>
                            </div>
                            
                        </form>
                    </div>
                <!-- </div> -->
            </div>
    
            <div class="split right">
                <!-- <img src="/static/css/journalling_image_375_600.png"> -->
                <img class="home-image" src="/static/css/journalling_image_375_600-removebg.png">
            </div>
    
        </div>
    </body>
</html>